@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap"); */

body {
  font-family: Inter, sans-serif;
}

@theme {
  --font-sans: "Inter", "sans-serif";
  --bg-primary: #6366f1;
  --bg-secondary: #4338ca;
  --text-primary: #fff;
  --text-secondary: #ccc;
}
